@page
@model RoutingPractice.Pages.BooksModel
@{
}

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Publisher</th>
            <th>Year of publishing</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publisher</td>
                <td>@book.YearOfPublishing</td>
                <td><a asp-page="./Books/Details" asp-route-id=@book.Id>Details</a></td>
            </tr>
        }
    </tbody>
</table>
